<footer>
	<table class="z-depth-2">
	<tr>
		<td colspan=2> <a href='https://user.tjhsst.edu/2019ssaxena/home'> Go Home </a> </td>
		<td colspan=2> <a href='https://tjhsst.fcps.edu/'> TJHSST </a> </td>
		<td colspan=2> <a href='https://user.tjhsst.edu/2019ssaxena/aboutMe'> About Me </a> </td>
	</tr>
	</table>
</footer>
